<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">


	<title>Insert title here</title>


    <!-- 외부 폰트 및 이미지 설정 -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
	<link rel="preconnect" href="https://fonts.gstatic.com"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Gowun+Dodum&display=swap"/>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <!-- 자체 CSS설정 -->
       <link rel="stylesheet" href ="${pageContext.request.contextPath}/css/register.css" >
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

    <!--  TOP MENU  -->
    <header>		
			<span class="material-symbols-outlined">quiet_time</span>MAVER		
	</header>

    <div id="menu">
        <ul>
            <!--  HOME  -->
            <li>
                <a href="main.do">HOME</a>
            </li>
            <!--  ABOUT  -->
            <li>
                <a href="#">ABOUT</a>
            </li>
            <!--  Unknown  -->
            <li>
                <a href="#">MY CAFE</a>
                <ul>
                    <li><a href="./FavoriteCafe.html">즐겨찾는 카페</a></li>
                    <li><a href="#">이웃 카페</a></li>
                    <li><a href="#">운영 카페</a></li>
                </ul>
            </li>
            <!--  Board  -->
            <li>
                <a href="#">BOARD</a>
                <ul>
                    <li><a href="#">NOTICE</a></li>
                    <li><a href="#">FREEBOARD</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </li>
        </ul>
    </div> <!-- END 'TOP MENU'-->



    <!-- contents -->
    <div id="contents">
    	
    	<c:if test="${not empty sess_member}">
    			<div id="afterRegister">
    				${sess_member} 님 회원가입을 축하합니다.<br> 
         			<a href="main.do">메인페이지로 이동</a><br>
         		</div>
        </c:if>
 		   
    	<c:if test="${empty sess_member}">
    
	        <div id="registerPage">
	        	<form action="RegisterAction.do" method="post" id="insertMember">
	        	
	            <br><h3>*** 회원가입 ***</h3><br>
	            
	            아이디 <br>
	            <input type='text' id="id" name="id"/> (중복확인필수)<br>
	
	            비밀번호<br>
	            <input type='password' id="pw" name="pw"  /> <br>
	
	            비밀번호 재확인 <br>
	            <input type='password' id="pwre" name="pwre" /> (일치하는지 확인 필수)<br>
	
	            이름 <br>
	            <input type='text' id="name" name="name"/> <br><br>
	
	            남 <input type='radio' name="gender" id="gender" value="1" checked>
	            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	            여 <input type='radio' name="gender" id="gender" value="0" checked > <br>    
	
	 			이메일 <br>
	            <input type='email' id="email" name="email"> (뒷자리 선택 ?)<br>
	
	
	
	            전화번호 <br>
	            <input type='tel' id="mobile" name="mobile" maxlength="13"/> <br>  <br>
	
	     
	           
	            주소 <br>
	            <select title="address2" >
	                    <option value="선택하세요">선택하세요</option>
	                    <option value="서울특별시">서울특별시</option>
	                    <option value="인천광역시">인천광역시</option>
	                    <option value="부산광역시">부산광역시</option>
	            </select>
	            <select title="address3" >
	                <option value="선택하세요">선택하세요</option>
	                <option value="서울특별시">칠칠칠</option>
	                <option value="인천광역시">팔팔팔</option>
	                <option value="부산광역시">구구구</option>
	            </select>
	            <br>
	
	            주소 <br>
	            <input type='text' id="address1" name="address1"/><br><br>
<!--  	
				 생년월일 <br>
	            <input type='date' id="birthday" name="birthday" /> <br>  
-->	
				<br>
				<input type="submit" id="registerBTN" value="회원가입"/>
				
				
				<script>
    			$('#registerBTN').click(function(event) {
        		// 간단한 유효성 검사
		        var pw = document.getElementsByName("pw")[0].value;
		        var pwre = document.getElementsByName("pwre")[0].value;
		        
		        if (pw === pwre) {
		            return true; // submit
		          } else {
		            alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
		            return false; // do not submit
		          }
   			
   				});
				</script>
		      
				</form>
			
			
       		</div>
		</c:if>
    </div>

    
    <!--  FOOTER  -->
    <div id="footer">
        하아아아아단!!!!

    </div> <!--  END 'FOOTER'  -->



</body>
</html>